DJANGO_DEBUG=true
DJANGO_SECRET_KEY=incomeflow-local-secret-123456
JWT_SECRET_KEY=incomeflow-jwt-secret-7891011
GOOGLE_CLIENT_ID=335929929815-33607hesdpq50k3759uqgbdfo2cpt3r2.apps.googleusercontent.com

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=incomeflow
EGP_PER_USD=50.00
EGP_RATE_API_URL=https://open.er-api.com/v6/latest/USD
EGP_RATE_CACHE_SECONDS=3600

FRONTEND_ORIGIN=http://localhost:5173